node_modules
client/node_modules
.git
.DS_Store
.env
npm-debug.log
error-debug.log
pincode.xlsx
*.md
LICENSE
.vscode
.husky
tests
docs
scripts
temp*
debug*
list_ids.js
migrate*
setup*
uploadPincodes.js
/client
